
/*grid*/
body{ 
display: grid;
grid-template-areas:
    "h h "
    "n n"
    "as ar"
    "f f ";
    grid-template-columns: 1fr 1fr;
}


header {
  grid-area: h;
}


nav {
  grid-area: n;
}


aside {
  grid-area: as;
}


article {
  grid-area: ar;
}

footer{
    grid-area: f;
}