
body{
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    min-height: 100vh;
    margin: 0;
    text-align: center;
    background-image: url(kepek/ep01_sc_01_intro_nagytotal_02-1.png) ;
}
aside {
    flex: 1;              
    border: 1px solid black;
    padding: 100px 20px;
}

article {
    flex: 1;              
    border: 1px solid black;
    border-left: none;     
    padding: 100px 20px;
}

@media (max-width: 768px) {
  main {
    flex-direction: column; 
  }

  aside, article {
    width: 100%; 
    border-left: 1px solid black;
    margin: 10px 0;
  }

  header h1 {
    font-size: 30pt;
  }

  form {
    width: 95%; 
  }
  nav ul {
  flex-direction: column; 
  gap: 10px;
}
}