* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 15pt;
  margin: 5px;
}
body{
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    margin: 0;
    text-align: center;
    background-image: url(kepek/ep01_sc_01_intro_nagytotal_02-1.png) ;
    background-size: cover;
}
main {
  display: flex;      
    flex: 1;               
    margin: 5px;
    gap: 0;
    background-size: cover;
    padding: auto;
}
header{
  background-image: url(kepek/kep1.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: orange;
  font-size: 30pt;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
  width: 95%;

}
h1 {
  font-size: 50pt;
  color: orange;
  text-align: center;
  display: flex;
  justify-content: center;
}

/* navigácós bellítások */
nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  color: black;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  color: rgb(0, 0, 255);
  text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    padding: 20px;
    margin: 5px;
}

ul li{
  margin: 10px;
}
footer, article ,aside{
  background-color: rgba(115, 138, 115, 0.637);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}