
body {
  text-align: left;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: orange;
  font-size: 30pt;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
  width: 95%;
}

legend {
  font-size: 18pt;
  background-color: rgba(240, 201, 149, 0.89);
  padding: 5px 10px;
  border-radius: 3px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

#jelentkezes,
#resztvevok,
#jegy,
#megjegyzes {
  background-color: rgba(115, 138, 115, 0.637);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;

}

#nev, #email, #esemeny, #resztvevok {
  width: 60%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  justify-content: left;
  align-items: center;
  justify-content: space-between;
}

textarea {
  width: 100%;
  resize: none;
  
}

#jelentkezes > div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

#jelentkezes label {
  width: 200px;
}

